

.content {
	width: 65%;
	position: fixed;
  	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 60px;
	

}

h1 {
	color: #ffffff;
	font-family: "Bounded-Black";
	font-size: 50pt;
	margin-bottom: 0;
}

h2, h2 > a {
	color: #ffffff;
	font-family: "Bounded-Reg";
	font-size: 16pt;
	letter-spacing: 1.3pt;
	text-align: center;
	margin-top: 33px;
}

h2 > a {
	text-decoration: underline;
}



h3 {
	color: #ffffff;
	font-family: "Bounded-Reg";
	font-size: 16pt;
	text-align: center;
	margin: 0 0 0 0;

}

h4 {
	color: #ffffff;
	font-family: "Bounded-Reg";
	font-size: 12pt;
	letter-spacing: 1.3pt;
	text-align: center;
	margin: 0 0 5 0;
}

p { 
	color: #ffffff;
	font-family: "Oldstyle";
	font-size: 15pt;
	line-height: 1.3;
	font-weight: lighter;
	text-align: justify;
	text-justify: inter-character;
	margin-top: 5px;
 }

hr {
	color: #ffffff;
	background-color: #ffffff;
}


@media only screen and (max-width: 1200px) {
	h3 {
		font-size: 14pt;
		line-height: 1.3;
	}

}

@media only screen and (max-width: 1024px) {

.content {
	width: 640px;
	margin-top: 65px;
}

h1 {
	font-size: 35pt;
}

p {
	font-size: 14pt;
}

}

@media only screen and (max-width: 800px) {

.content {
	width: 590px;
}
h1 {
	font-size: 30pt;
}
}


@media only screen and (max-width: 600px) {

.content {
	width: 390px;
}
h1 {
	font-size: 25pt;
}
h2 {
	font-size: 12pt;
}
}

@media only screen and (max-width: 420px) {
.content {
	width: 300px;
}
h1 {
	font-size: 20pt;
}
p {
	font-size: 13pt;
	text-align: left;
}
h2, h2 > a {
	text-align: center;
	font-size: 10pt;
}
}

@media only screen and (max-width: 320px) {

.content {
	width: 250px;
	margin-top: 45px;
}

h1 {
	font-size: 13pt;
}
p {
	font-size: 13pt;
}

}