.first {
	width: 100%;
}

.first > .door {
	max-width:  300px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

.first > h1 {
	font-family: Poppins, monospace;
	font-size: 24pt;
	color:  white;
	text-align: center;
	font-weight: 700;
	letter-spacing: 6px;
}

@media only screen and (min-width: 800px){
	.first > h1 {
	font-size: 33pt;
	letter-spacing: 10px;
}
}