/* FONTS */

@font-face {
	font-family: "Bounded-Black";
	src: url(fonts/Bounded-Black.ttf) format("truetype");
}

@font-face {
	font-family: "Bounded-Reg";
	src: url(fonts/Bounded-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Oldstyle";
	src: url(fonts/MFBOldstyle-Regular.otf);
}

body {
	background-color: 000000;
}

header {
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.navlogo {
	display: inline-flex;
}

.logo {
	width: 200px;
	display: inline-flex;
	margin-left: 50px;
}

.vertlogo {
	display: none;
}

.navlinks {
	display: inline-flex;
	margin-right: 50px;
	
}
a {
	color: #ffffff;
	font-family: "Bounded-Black";
	font-size: 18pt;
	text-decoration: none;
	vertical-align: top;
	margin-top: 10px;
	letter-spacing: 3px
	transition: color .3s;
}
a:hover {
	color: #cc0000;
}

@media only screen and (max-width: 1024px) {

header, .navlogo, .logo, .navlinks {
	display: block;
}

header {
	max-width: 95%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}

.navlogo {
	width: 333px;
	margin-right: auto;
	margin-left: auto;
}

.logo {
	width: 333px;
	margin-left: auto;
	margin-right: auto;
}

.navlinks {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 33px;
}

.navlinks > a {
	font-size: 18pt;
}

}

@media only screen and (max-width: 800px) {

.navlinks > a {
	font-size: 14pt;
}

}

@media only screen and (max-width: 600px) {

header {
	display: flex;
	width: 333px;
}

.logo {
	display: none;
}

.vertlogo {
	display: inline-block;
	width: 100px;

}

.space {
	display: none;
}
.navlinks {
	display: inline-block;
	margin-left: 33px;
	margin-right: auto;
	text-align: left;
	margin-top: 0;
}

.navlinks > a {
	font-size: 25pt;
}

}

@media only screen and (max-width: 375px) {

header {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.navlinks {
	margin-left: 0;
	padding-left: 10px;
}

.navlinks > a {
	font-size: 20pt;
}

.vertlogo {
	width: 85px;
}

}

@media only screen and (max-width: 320px) {

header {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.navlinks {
	margin-left: 0;
	padding-left: 10px;
}

.navlinks > a {
	font-size: 18pt;
}

.vertlogo {
	width: 75px;
}

}