/* FONTS */

@font-face {
	font-family: "Bounded";
	src: url(fonts/Bounded-Black.ttf) format("truetype");
}

/* PAGE STYLES */

body {
	background-image: url("images/mthood-bg.jpg");
	background-color: #000000;
	background-repeat: none;
	background-position: center top;
	background-size: cover;
	margin: 0 0 0 0;
}

.content {
	width: auto;
	height: auto;
	position: fixed;
  	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
	width: 85vw;
	margin-right: auto;
	margin-left: auto;
}

.vertlogo {
	display: none;
}


.navbar {
	width: 85vw;
	height: auto;
	margin-top: 3%;
	margin-right: auto;
	margin-left: auto;
	background-color: none;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.navbar > a {
	color: #ffffff;
	font-family: "Bounded";
	font-size: clamp(1rem, 2.5vw, 3vw); /*(minimum,preferred,max)*/
	text-decoration: none;
	letter-spacing: .18em;
	transition: color .3s;

}

.navbar > a:hover {
	color: #cc0000;
}

/*VIEWPORT VARIATIONS*/

@media only screen and (max-width: 850px){

	.logo {
		display: none;
	}

	.vertlogo {
		display: block;
		width: 40vw;
		margin-right: auto;
		margin-left: auto;
	}

	.navbar {
		width: 40vw;
		display: block;
		margin-top: 30px;
	}

	.navbar > a {
		display: block;
		text-align: center;
		letter-spacing: 0;
		line-height: 7vh;
  	}

  	.about {
  		font-size: clamp(1rem, 8.6vw, 8.6vw); /*(minimum,preferred,max)*/
  	}

  	.memos {
  		font-size: clamp(1rem, 7.7vw, 8.6vw); /*(minimum,preferred,max)*/
  	}

  	.gallery {
  		font-size: clamp(1rem, 6.5vw, 8.6vw); /*(minimum,preferred,max)*/
  	}

  	.contact {
  		font-size: clamp(1rem, 6.3vw, 8.6vw); /*(minimum,preferred,max)*/
  	}







}
