/*-----------------------FIRST-----------------------*/

.first {
	width:  100%;
	margin-top: 10px;
}

.first > .bar {
	max-width: 100%;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 33px;
	margin-bottom: 50px;
}

.first > p {
	font-family: 'Azeret Mono', monospace;
	color: white;
	font-size: 12pt;
	font-weight: 400;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
	line-height: 170%;
	padding-left: 15px;
}

.first > .icon {
	max-width: 40%;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.first > .self {
	max-width: 70%;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.line {
	display: none;
}


/*-----------------------SECOND-----------------------*/
.second {
	width:  100%;
	padding-top: 33px;
}

.second > h1 {
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 18pt;
	font-weight: 700;
	text-align: center;
	letter-spacing: 3px;
	margin-top: 50px;
}

.second > p {
	font-family: 'Azeret Mono', monospace;
	color: white;
	font-size: 10pt;
	font-weight: 700;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
	line-height: 170%;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 50px;

}

.second > .bar {
	max-width: 100%;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.second > .line {
	display: none;
}

}
/*-----------------------THIRD-----------------------*/

.third {
	width:  100%;
	margin-top: 12px;
}



.third > .bar {
	max-width: 100%;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3px;
}

/*-----------------------viewport-----------------------*/

@media only screen and (min-width: 500px){

.first > .line {
	display: block;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	margin-bottom: 35px;
}

.first > p {
	font-size: 14pt;
}

.first > .icon, .first > .self {
	width: 150px;
}

.second > h1 {
	font-size: 22pt;
}

.second > p {
	font-size: 14pt;
}

}

@media only screen and (min-width: 710px) {
	.first {
		width: 650px;
		display: block;
	margin-left: auto;
	margin-right: auto;
	}
}

@media only screen and (min-width: 900px){
	.second > .bar {
		display: none;
	}

	.second > .line {
		display: block;
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (min-width: 1000px){

.first > .line {
	width: 300px;
	margin-top: 55px;
	margin-bottom: 45px;
}

.second > .line {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.second {
	margin-bottom: 60px;
}

.first {
	width: 700px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.first > p {
	font-size: 14pt;
}

.first > .icon, .first > .self {
	width: 150px;
}

}